/* Summary */

.summary
{
    font-size: 20px;
    background-color: #071524;
    opacity: 1;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.game-img
{
    width: 50%;
    height: 600px;
}

.index-footer
{
    background-color: #0a4723;
}