/* Summary */

.summary
{
    font-size: 20px;
    background-color: #122e63;
    opacity: 1;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.game-img
{
    width: 50%;
    height: 600px;
    box-shadow: black 0px 1px 30px;
}


.index-footer
{
    background-color: #157a3f;
}