@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito:wght@200&display=swap');

/*Body*/
body 
{
    font-family: "nunito", cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 110vh;
    background-color: #4ca1af;
}

h1
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 4em;
    letter-spacing: 5px;
}

h2
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 2em;
}

h3
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    letter-spacing: 5px;
}




