@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito:wght@200&display=swap');

/*Body*/
body 
{
    font-family: "nunito", cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 110vh;
    background-color: #4ca1af;
}

h1
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 4em;
    letter-spacing: 5px;
}

h2
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 2em;
}

h3
{
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    letter-spacing: 5px;
}


/*Header*/
ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

#lobbyPicture {
    padding-top: 150px;
    background: url(pictures/test_main.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

#illustrationLobby {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: orange;
    
}

/* nav */
nav
{
    overflow: hidden;
    background-color: orange;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header nav li
{
    float: right;
    font-size: 1.2em;
}

header nav li a 
{
    text-decoration: none;
    display: block;
    padding: 18px 16px;
    
}

#logo 
{
    font-family: Garamond, cursive;
    font-weight: bold;
    float: left;
}

nav li :hover
{
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

#lobbyPicture {
    padding-top: 100px;
    background: url(pictures/main.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

/* Summary */

.summary{
    background: rgb(170, 170, 170);
    
}

.summary .content{
    text-align: left;
    padding-top: 20px;
    margin-left: 60px;
    font-size: 2em;
    text-decoration: underline;
    
}

.summary .content ul li{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    padding: 5px;
    list-style: circle;
}

.summary .content ul li a { 
    color: white;

}

.summary .content ul li :hover { 
    color: gray;
    opacity: 70%;
}